name: Puppeteer Workflow

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        
    - name: Install dependencies
      run: npm install
    
    - name: Run Puppeteer script
      run: node index.js
      
    - name: Commit and push updated CSV (if applicable)
      run: |
        git config --local user.email "diassavio629@gmail.com"
        git config --local user.name "Savio629"
        git add data
        git commit -m "Update data folder"
        git push
      if: success()
